<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<div>
  <h1 class="mail-title">Hi, <%= @model.name %></h1>
  <div>
    <p>
      Your account has been created and you can login into the system follow this <a href="<%= login_url %>">link</a>
    </p>
  </div>
</div>
</body>
</html>