<div class="navigation-wrapper">
  <div id="navigation">
    <%
      nav_items = [
        {
          "url" => '/dashboard',
          "icon" => '',
          "title" => 'Dashboard'
        },
        {
          "url" => '/job',
          "icon" => '',
          "title" => t('_job')
        },
        {
          "url" => '/candidate',
          "icon" => '',
          "title" => t('_candidate')
        },
        {
          "url" => workflow_url(type: 'recruitment'),
          "icon" => '',
          "title" => t('_recruitment_workflow')
        },
        {
          "url" => workflow_url,
          "icon" => '',
          "title" => t('_workflow')
        },
        {
          "url" => '/setting',
          "icon" => '',
          "title" => 'Setting'
        }
      ]
    %>
    <% if session[:user_id] %>
      <% for item in nav_items do %>
        <div class="nav-item">
          <a href="
              <%= item['url'] %>">
              <span>
                <i class="
                  <%= item['icon'] %>"></i>
                <%= item['title'] %>
              </span>
          </a>
        </div>
      <% end %>
    <% end %>
  </div>
</div>